*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
/pkg/
*.backup
./*.tfstate
.terraform*
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
.idea
.vscode
.envrc
vendor/
__debug_bin
