# FROM THE STARTER PACK:
canonical-sphinx[full]
packaging
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinx-last-updated-by-git
sphinx-sitemap
# SPECIFIC TO THIS PROJECT:
sphinx-autobuild
sphinx-tabs
sphinxext-rediraffe
sphinx-new-tab-link
sphinxcontrib.lightbox2
sphinxcontrib.mermaid
