---
# generated using template templates/resources/application.md.tmpl
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage
{{tffile "examples/resources/juju_application/resource.tf"}}
{{- end }}

{{ .SchemaMarkdown | trimspace }}


{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/juju_application/import.sh"}}
{{- end }}


## Note on Subordinate Applications and Units
For subordinate applications (such as those that attach to a principal charm). Starting with version 0.19.0, remove the units field from your subordinate application.

The provider will show units = 1 in state for subordinates if the units field is omitted, this is expected and for backwards compatibility.