---
# generated using template templates/index.md.tmpl
page_title: "Juju Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Juju Provider

The provider can be used to interact with [Juju][0] - an open source orchestration engine by Canonical.

The provider only interacts with a single controller at a time.

Today this provider allows you to manage the following via resources:

* Applications and deploy charms
* Credentials for existing clouds
* Integrations
* Machines
* Models
* Model ssh keys
* Offers
* Users

and refer to the following via data sources:

* Machines
* Models
* Offers

Work is ongoing to include support for more of the juju CLIs capabilities within this provider.

## Prerequisites

* [Juju][0] `2.9.49+`

## Authentication

There are 3 ways to define credentials for authentication with the Juju controller you wish to target.
They are displayed in the order in which the provider looks for credentials.

### Static credentials

Define the Juju controller credentials in the provider definition in your terraform plan.

``` terraform
provider "juju" {
  controller_addresses = "10.225.205.241:17070,10.225.205.242:17070"
  username = "jujuuser"
  password = "password1"
  ca_certificate = file("~/ca-cert.pem")
}
```

### Client credentials

Define the client credentials in the provider definition in your terraform plan.

``` terraform
provider "juju" {
  controller_addresses = "10.225.205.241:17070,10.225.205.242:17070"
  client_id = "jujuclientid"
  client_secret = "jujuclientsecret"
  ca_certificate = file("~/ca-cert.pem")
}
```

### Environment variables

Define the Juju controller credentials in the provider definition via environment variables. These can be set up as follows:

```shell
export CONTROLLER=$(juju whoami | yq .Controller)
export JUJU_CONTROLLER_ADDRESSES="$(juju show-controller | yq '.[$CONTROLLER]'.details.\"api-endpoints\" | tr -d "[]' "|tr -d '"'|tr -d '\n')"
export JUJU_USERNAME="$(cat ~/.local/share/juju/accounts.yaml | yq .controllers.$CONTROLLER.user|tr -d '"')"
export JUJU_PASSWORD="$(cat ~/.local/share/juju/accounts.yaml | yq .controllers.$CONTROLLER.password|tr -d '"')"
export JUJU_CA_CERT="$(juju show-controller $(echo $CONTROLLER|tr -d '"') | yq '.[$CONTROLLER]'.details.\"ca-cert\"|tr -d '"'|sed 's/\\n/\n/g')"
```

### Populated by the provider via the juju CLI client.

This is the most straightforward solution. Remember that it will use the configuration used by the Juju CLI client at that moment. The fields are populated using the
 output from running the command `juju show-controller` with the `--show-password` flag.

{{ if .HasExample -}}
## Example Usage

Terraform 0.13 and later:
{{tffile "examples/provider/provider.tf"}}

Terraform 0.12 and earlier:
{{tffile "examples/provider/provider_0.12.tf"}}

Terraform 0.12 and later with client credentials:
{{tffile "examples/provider/provider_client_credentials.tf"}}
{{- end }}

{{ .SchemaMarkdown | trimspace }}


[0]: https://juju.is "Juju | An open source application orchestration engine"
