name: Main Documentation Checks

on:
  push:
    branches: [main]
    paths:
      - 'docs-rtd/**'
  pull_request:
    paths:
      - 'docs-rtd/**'
  workflow_dispatch:
    paths:
      - 'docs-rtd/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  documentation-checks:
    uses: canonical/documentation-workflows/.github/workflows/documentation-checks.yaml@main
    with:
      working-directory: "docs-rtd"
